body {
    background-color:rgb(0, 0, 0);
}

div.header {
    text-align: center, top;
    color: white;
}

div.poster {
    width: 100%;
    background-image:url('space.jpeg');
    background-size:auto;
    border-radius: 50%;
    border-width: 50%;
}


div.text {
    color: white;
    text-align: center;
    margin-top: 100px;
    transition: 6s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* rule 1 */
div.one {
    color: transparent;
    text-shadow: 0 0 5px white;
}
div.two {
    color: transparent;
    text-shadow: 0 0 25px white;
}
div.three {
    color: transparent;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}


/* rule 2 */
div.text.a {
    font-size: 75px;
}
div.text.b {
    font-size: 100px;
}
div.text.c {
    font-size: 200px;
}


/* rule 3 */


