body {
background-color: black;
}

div.poster {
    width: 100%;
}


div.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    background-image:url('newspaper.jpg');
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    transition: 1.5s;
}

/* rule 1 */
DIV.ONE {

}
div.two {

}
div.three {

}

/* rule 2 */
div.text.a {
    font-size: 50px;
}
div.text.b {
    font-size: 100px;
}
div.text.c {
    font-size: 125px;
}


/* rule 3 */
div.x {

}
div.y {

}
div.z {

}

