body {
    background-color:rgb(0, 0, 0);
}

div.poster {
    background-color: rgb(0, 0, 0);
    width: 100%;
    background-image: url('bleh.webp');
}

div.text {
    font-size: 85px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* rule 1 */
div.text.one {
    font-size: 35px;
}
div.text.two {
    font-size: 60px;
}
div.text.three {
    font-size: 140;
}

/* rule 2 */
div.text.a {
    color: black
}
div.text.b {
    color:yellow;
}
div.text.c {
    color: white;
}

/* rule 3 */
div.text.x {
    letter-spacing: normal;
}
div.text.y {
    letter-spacing: -5px;
}
div.text.z {
    letter-spacing: 15px;
}

div.small {
    text-align: center;
    color: white;
}